apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-server-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-server
  template:
    metadata:
      name: demo-server
      labels:
        app: demo-server
    spec:
      containers:
        - name: demo-server
          image: barry800414/demo-server
          ports:
            - containerPort: 8080
              name: server-port
